:root {
  --gray-light: theme('colors.light.300');
  --toast-default: theme('colors.gray.400');
  --toast-info: theme('colors.blue.400');
  --toast-success: theme('colors.emerald.500');
  --toast-error: theme('colors.red.500');
  --toast-warning: theme('colors.amber.500');
  --sidebar-width: 240px;
  --sidebar-partial-width: 70px;
  --sidebar-width--: calc(var(--sidebar-width) * -1);
  --modal-width: 500px;
  --box-shadow-basic: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  --box-shadow-medium: 0 5px 10px 0 rgb(183 192 206 / 20%);
  --card-border-color: #f2f4f9;
  --card-title-color: #000000;
  --body-bg: #f9fafb;
  --body-color: #252525;
  --logo-item-color: #000a65;
  --primary-50: #e0e3ff;
  --primary-100: #f0f1ff;
  --primary-500: #6571ff;
  --primary-600: #5660d9;
  --secondary-500: #7987a1;
  --secondary-600: #677389;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #cbd1db;
  --gray-500: #aeb7c5;
  --gray-600: #7987a1;
  --danger-100: #ffedf0;
  --danger-200: #ffcbd6;
  --danger-300: #ff7898;
  --danger-400: #ff3366;
  --danger-500: #ff1a53;
  --success-100: #e9f6ef;
  --success-200: #c2e7d0;
  --success-300: #46a56d;
  --success-400: #07a34a;
  --success-500: #078a3f;
  --warning-100: #fff8e9;
  --warning-200: #feecc2;
  --warning-300: #edc459;
  --warning-400: #fbbc08;
  --warning-500: #e5ad0f;
  --dark-gray: #3F4048;
  --md-gray: #A5A8BC;
  --l-gray: #B6B9CE;
  --s-gray: #F9F9F9;
  --x-gray: #E7E9F2;
}
