*, *::before, *::after {
  box-sizing: border-box;
}

[data-required]::after {
  content: " *";
  color: theme('colors.red.400');
}

body, #app {
  @apply text-body-color font-sans;
  font-size: 0.875rem;
}

.input {
  @apply py-2 px-3 rounded border border-gray-200 placeholder-gray-500;
  @apply focus:(border-gray-400 outline-none);
  @apply disabled:bg-gray-200;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  @apply appearance-none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  @apply appearance-none;
  -moz-appearance: textfield;
}

.button {
  @apply outline-none leading-5 font-300 transition-colors rounded;

  &:disabled {
    @apply pointer-events-none opacity-70;
  }
}

.button-primary {
  @apply bg-primary-500 hover:bg-primary-600 text-white;
}

.button-error {
  @apply bg-red-500 hover:bg-red-600 text-white;
}

.button-warning {
  @apply bg-amber-500 hover:bg-amber-600 text-white;
}

.button-secondary {
  @apply bg-secondary-500 hover:bg-secondary-600 text-white;
}

.button-success {
  @apply bg-success-400 hover:bg-success-500 text-white;
}

.textarea {
  @apply w-full outline-none p-2 text-gray-700 placeholder-gray-500 bg-white border rounded shadow-sm;
  @apply focus:(border-emerald-500 ring-1 ring-emerald-500) hover:border-emerald-500;
}

.h-scroll {
  @apply relative overflow-auto whitespace-nowrap;
}

.page-title {
  @apply text-2xl;

  @include tablet {
    @apply text-xl;
  }
}

.common-wrapper {
  @apply max-w-800px;

  @include laptop {
    @apply max-w-full;
  }
}

.card {
  @apply bg-white p-6 shadow-basic border border-card-border-color rounded;
  flex: 1 1 auto;
}

.card-title {
  @apply text-sm uppercase font-500 text-card-title-color;
}

.waiting-status {
  @apply text-gray-600 px-2 py-1 rounded bg-gray-200;
}

.success-status {
  @apply text-success-500 px-2 py-1 rounded bg-success-200;
}

.error-status {
  @apply text-danger-400 px-2 py-1 rounded bg-danger-200;
}

.link {
  @apply text-primary-500 hover:text-primary-600 cursor-pointer;
}